* {
	box-sizing: border-box;
}

.grid {
	display: grid;
}


html {
	height: 100vh;
	width: 100vw;
}

html, body {
	overflow: hidden;
}

body, div#wrapper, #editorGrid {
	height: 100%;
	width: 100%;
}

html, body, div#wrapper, #editorGrid, #editorLine {
	padding: 0px;
	margin: 0px;
	user-select: none;
}

body {
	grid-template-rows: auto calc(var(--font-size) + 8px);
}

div#wrapper {
	position: relative;
}

div#wrapper > * {
	position: absolute;
}

#editorGrid {
	transform: translateZ(0);
	z-index: 0;
	grid-template-columns: var(--lineNumber-width) auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#editorLine {
	font-family: var(--font-family);
	font-size: var(--font-size);
	tab-size: var(--tab-size);
	line-height: var(--line-height);

	color: var(--line-color-inactive);
	background-color: var(--line-background-color);

	border-right: 1px solid var(--divider-color);

	margin: 0px;
	padding: 6px 0px;
}

#editorLine > span {
	display: inline-block;
	width: 100%;
	color: var(--line-color-inactive);
	padding: 0px 4px;
}

#editorLine > span.active {
	color: #000;
}

#editorSurface {
	font-family: var(--font-family);
	font-size: var(--font-size);
	tab-size: var(--tab-size);
	line-height: var(--line-height);

	background-color: var(--background-color);
	color: var(--color);

	overflow: hidden;

	height: max-content;
	min-height: 100%;

	margin: 0px;
	padding: 6px 10px 0px;

	cursor: text;

	user-select: auto;
}

#editorSurface:focus {
	outline: var(--focus-outline);
}

#scrollTopBar {
	z-index: 2;
	right: 0;
	width: 4px;
	height: 50%;
	background-color: #555;
	opacity: 70%;
	border-radius: 2px;
}

#editorSurface::after {
	content: " ";
}

span#caret[blink="on"] {
	outline: var(--caret-style);
}

span#caret[blink="off"] {
	outline: none;
}

textarea#input {
	z-index: 1;
	opacity: 0;
	height: 4px;
	width: 1px;
	resize: none;
	user-select: none;
	border: none;
	padding: 0px;
	display: inline-block;
	transform: 0;
}

/* footer */

#footer {
	color: #111;
	background-color: var(--line-background-color);
	border-top: 1px solid var(--divider-color);

	font-family: var(--font-family);
	font-size: var(--font-size);

	width: 100%;
	grid-template-columns: 200px auto 400px;
	overflow: hidden;
}

#footer > div {
	width: auto;
	margin: auto 6px;
}

#footer > div.left > span {
	margin-left: 4px;
}

#footer > div.right {
	text-align: end;
}

#footer > div.right > span {
	text-align: end;
	margin-right: 4px;
}

/* context menu */

#contextmenu {
	width: 220px;
	height: max-content;
	background-color: #eee;
	outline: 1px solid var(--divider-color);
	border-radius: 6px;
	overflow: hidden;
}

#contextmenu[state="active"] {
	z-index: 3;
}

#contextmenu[state="hidden"] {
	z-index: -3;
}

#contextmenu > div.group {
	border-bottom: 1px solid var(--divider-color);
}

#contextmenu > div.group:last-child {
	border-bottom: none;
}

#contextmenu > div.group > div.index {
	grid-template-columns: auto 60px;
	font-size: 13px;
	font-family: var(--font-family);
	color: #111;
	padding: 4px 18px;
	background-color: transparent;
}

#contextmenu > div.group > div.index:first-child {
	padding-top: 5px;
}

#contextmenu > div.group > div.index:last-child {
	padding-bottom: 4px;
}

#contextmenu > div.group > div.index:hover:not(.disabled) {
	background: var(--accent-color);
	color: #fff;
}

#contextmenu > div.group > div.index:hover:not(.disabled) > span:last-child {
	color: #eee;
}

#contextmenu > div.group > div.index.disabled {
	color: #666;
}

#contextmenu > div.group > div.index > span:last-child {
	color: #33333d;
	text-align: end;
	height: max-content;
	padding: 2px 0;
	font-size: calc(var(--font-size) * 0.8);
}

#message {
	height: max-content;
	width: max-content;
	inset: calc(100% - 48px) 16px 0 auto;
	background-color: #202023;
	outline: 1px solid #555558;
	color: #fff;
	font-family: "Consolas", 'Courier New', "Courier", "Monaco", "monospace";
	font-size: calc(var(--font-size) * 0.9);
	padding: 10px 12px;
	border-radius: 3px;
	grid-template-columns: max-content 16px max-content;
}

#message[state="hidden"] {
	z-index: -4;
}

#message[state="active"] {
	z-index: 4;
}

#message[type="error"] {
	background-color: #500;
	outline: 1px solid #f44;
}

#message > .button {
	color: #bbb;
	font-size: calc(var(--font-size) * 0.8);
}

#message > .button:hover {
	color: #fff;
}
